body{
  box-sizing:border-box;
  margin:0;
  padding:0;
  overflow:hidden;
}
#acct_list{
  box-sizing:border-box;
  width:100%;
  min-height:20px;
  padding:10px 0;
  b{
    display:block;
    margin-left:5px;
    margin-bottom:10px;
  }
  .acct{
    box-sizing:border-box;
    margin:5px 5px 15px 35px;
    border-left:4px solid #a0adff;
    padding-left:8px;
    label{
      margin:3px 0;
      display:inline-block;
      i{
        font-style:normal;
        display:inline-block;
        width:110px;
      }
    }
    position:relative;
    button.delete{
        position: absolute;
        top: 4px;
        padding: 0;
        margin: 0;
        -webkit-padding-start: 0;
        -webkit-padding-end: 0;
        min-width: 0;
        width: 20px;
        left: -33px;
        min-height: 0;
    }
  }
  max-height:260px;
  overflow-y: auto;
}
#add{
  box-sizing:border-box;
  margin-top:10px;
  border-top:1px solid gray;
  width:100%;
  padding:10px;
  #save{
    float:right;
  }
}